<mat-toolbar class="head">
  <span>Heliverse Assignment</span>
</mat-toolbar>
<div class="options" style="display: flex;" >
<mat-form-field class="filters">
  <mat-label>Gender</mat-label>
  <mat-select  [(ngModel)]="genderText" name="gender">
    <!-- @for (food of foods; track food) {
      <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    } -->
    <mat-option>Select</mat-option>
    <mat-option value="Male">Male</mat-option>
    <mat-option value="Female">Female</mat-option>
    <mat-option value="Other">Other</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="filters">
  <mat-label>Domain</mat-label>
  <mat-select  [(ngModel)]="domainText" name="domain">
    <!-- @for (food of foods; track food) {
      <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    } -->
    <mat-option>Select</mat-option>
    <mat-option value="Finance">Finance</mat-option>
    <mat-option value="Sales">Sales</mat-option>
    <mat-option value="Marketing">Marketing</mat-option>
    <mat-option value="IT">IT</mat-option>
    <mat-option value="Management">Management</mat-option>
    <mat-option value="UI Designing">UI Designing</mat-option>
    <mat-option value="Business Development">Business Development</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="filters">
  <mat-label>Available</mat-label>
  <mat-select  [(ngModel)]="availbilityText" name="availbility">
    <!-- @for (food of foods; track food) {
      <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
    } -->
    <mat-option>Select</mat-option>
    <mat-option value="true">True</mat-option>
    <mat-option value="false">False</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="filters">
  <mat-label>Search By First Name</mat-label>
  <input [(ngModel)]="searchText" matInput type="text">    
</mat-form-field>
<button mat-raised-button color="warn" (click)="searchUser()">Search</button>
</div>
<div>
  <mat-paginator [length]="totalCount" [hidePageSize]="true" (page)="handlePageEvent($event)" [pageSize]="pageSize">
  </mat-paginator>
</div>
<div class="app-wrapper">
<mat-card class="example-card" *ngFor="let item of users">
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>{{item.first_name}} {{item.last_name}}</mat-card-title>
  <div *ngIf="item.available"><button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</div>
  <mat-card-subtitle>{{item.gender}}</mat-card-subtitle>
</mat-card-header>
<img mat-card-image src="{{ item.avatar }}" alt="User Image">
<mat-card-content>
  <ul>
    <li>Email: {{item.email}}</li>
    <li>Domain: {{item.domain}}</li>
    <li>Available: {{item.available}}</li>
  </ul>
</mat-card-content>
</mat-card>
</div>